sudo: false
language: php

php:
  - 7.2
  - 7.3
  - 7.4snapshot
  - nightly

matrix:
  fast_finish: true
  allow_failures:
    - php: nightly
    - php: 7.4snapshot

install:
  - composer install

script:
  - vendor/bin/phpunit --coverage-text
  - vendor/bin/phpstan analyze

after_success:
  - composer require php-coveralls/php-coveralls
  - travis_retry vendor/bin/php-coveralls
