<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
  backupGlobals="false"
  backupStaticAttributes="false"
  bootstrap="vendor/autoload.php"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  forceCoversAnnotation="false"
  processIsolation="false"
  stopOnError="false"
  stopOnFailure="false"
  stopOnIncomplete="false"
  stopOnSkipped="false"
  verbose="true"
>
  <coverage>
    <include>
      <directory>src</directory>
    </include>
    <report>
      <clover outputFile="docs/phpunit/clover.xml"/>
      <html outputDirectory="docs/coverage" lowUpperBound="35" highLowerBound="70"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="vfsStream tests">
      <directory suffix=".phpt">tests/phpt</directory>
      <directory suffix="TestCase.php">tests/phpunit</directory>
    </testsuite>
  </testsuites>
  <logging>
    <junit outputFile="docs/phpunit/junit.xml"/>
    <testdoxHtml outputFile="docs/phpunit/testdox.html"/>
  </logging>
  <php>
    <ini name="memory_limit" value="-1"/>
    <ini name="error_reporting" value="30719"/> <!-- E_ALL | E_STRICT -->
  </php>
</phpunit>
